.user {
    background-color: aliceblue;
    padding: 1rem;
    border: 4px solid aquamarine;
    box-shadow: 0 0 10px lightgray;
    border-radius: 10px;
    width: 80%;
    margin: 2rem auto;
    margin-bottom: 0;
}

.user-body {
    padding: 1rem;
    display: flex;
}

.user-body img {
    width: 30%;
    background-color: white;
    margin-right: 2rem;
}

.user-score {
    max-width: 4rem;
    padding: 0.5rem;
    text-align: center;
    margin-left: auto;
    background-color: aquamarine;
}

.user-count {
    font-size: 1em;
    background-color: aquamarine;
    border-radius: 50%;
    padding: 0.2em;
}


@media screen and (max-width: 800px) {
    .user {
        font-size: 0.9em;
    }
}

@media screen and (max-width: 600px) {
    .user {
        width: 96%;
        padding: 0;
    }

    .user-body img {
        margin-right: 1rem;
    }
    
}